In [30]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
cross_sell_url = "https://raw.githubusercontent.com/matheusfacure/causal-inference-in-python-code/main/causal-inference-in-python/data/cross_sell_email.csv"
data = pd.read_csv(cross_sell_url)
data.head()

In [5]:
data.groupby("cross_sell_email").mean()

                    gender        age  conversion
cross_sell_email
long              0.550459  21.752294    0.055046
no_email          0.542553  20.489362    0.042553
short             0.633333  20.991667    0.125000

In [6]:
data.head()

   gender cross_sell_email  age  conversion
0       0            short   15           0
1       1            short   27           0
2       1             long   17           0
3       1             long   34           0
4       1         no_email   14           0

In [11]:
X = ["gender", "age"]
mu = data.groupby("cross_sell_email")[X].mean()
var = data.groupby("cross_sell_email")[X].var()

(mu - mu.loc["no_email"]) / (np.sqrt((var + var.loc["no_email"])/2))

                    gender       age
cross_sell_email
long              0.015802  0.221423
no_email          0.000000  0.000000
short             0.184341  0.087370

In [16]:
def se(y):
    return y.std() / np.sqrt(len(y))

In [20]:
for email in pd.unique(data["cross_sell_email"]):
    print(email, se(data.query("cross_sell_email == @email")["conversion"]))

short 0.030316953129541618
long 0.021946024609185506
no_email 0.020930611780338927

In [21]:
for email in pd.unique(data["cross_sell_email"]):
    print(email, data.query("cross_sell_email == @email")["conversion"].sem())

short 0.030316953129541618
long 0.021946024609185506
no_email 0.020930611780338927

In [26]:
np.random.binomial(1, p=.08, size=100)

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [34]:
for email in pd.unique(data["cross_sell_email"]):
    alpha = .05
    exp_se = data.query("cross_sell_email==@email")["conversion"].sem()
    exp_mu = data.query("cross_sell_email==@email")["conversion"].mean()

    z = abs(stats.norm.ppf((alpha) / 2))

    ci = (exp_mu - z * exp_se, exp_mu + z * exp_se)
    print(email, ci)

short (0.06557986374510955, 0.18442013625489045)
long (0.012032453721799716, 0.09805928939746635)
no_email (0.0015299462255076168, 0.08357643675321579)

In [ ]:
for email in pd.unique(data["cross_sell_email"]):
    exp_se = data.query("cross_sell_email==@email")["conversion"].sem()
    exp_mu = data.query("cross_sell_email==@email")["conversion"].mean()

    z = abs(stats.norm.ppf((alpha) / 2))

    ci = (exp_mu - z * exp_se, exp_mu + z * exp_se)
    print(email, ci)