In [1]:
import networkx as nx
import pandas as pd

In [8]:
model = nx.DiGraph([
    ("C", "A"),
    ("C", "B"),
    ("B", "E"),
    ("F", "E"),
    ("D", "A"),
    ("A", "G")
])

nx.d_separated(model, {"C"}, {"E"}, {})

False

In [4]:
df = pd.DataFrame(dict(
    profits_prev_6m=[1, 1, 1, 5, 5, 5],
    consultancy=[0, 0, 1, 0, 1, 1],
    profits_next_6m=[1, 1.1, 1.2, 5.5, 5.7, 5.7]
))

df

   profits_prev_6m  consultancy  profits_next_6m
0                1            0              1.0
1                1            0              1.1
2                1            1              1.2
3                5            0              5.5
4                5            1              5.7
5                5            1              5.7

In [27]:
(df
  .groupby("consultancy")["profits_next_6m"]
  .mean()
  .reset_index()
  .pivot_table(columns="consultancy",
                values="profits_next_6m")
  .assign(dif = lambda x: x[1] - x[0])
  ["dif"].values[0]
)

1.666666666666667

In [30]:
avg_df = (df.groupby(["consultancy", "profits_prev_6m"])["profits_next_6m"].mean())
avg_df.loc[1] - avg_df.loc[0]

profits_prev_6m
1    0.15
5    0.20
Name: profits_next_6m, dtype: float64