In [5]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [8]:
url = "https://raw.githubusercontent.com/matheusfacure/python-causality-handbook/master/causal-inference-for-the-brave-and-true/data/wage.csv"
wage = pd.read_csv(url)
model_1 = smf.ols("np.log(hwage) ~ educ", data=wage.assign(hwage=wage["wage"] / wage["hours"])).fit()
model_1.summary().tables[1]

In [9]:
wage.head()

,wage,hours,lhwage,IQ,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc
0,769,40,2.956212,93,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0
1,808,50,2.782539,119,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0
2,825,40,3.026504,108,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0
3,650,40,2.788093,96,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0
4,562,40,2.642622,74,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0

In [14]:
wage = wage.assign(hwage=wage["wage"] / wage["hours"])

In [16]:
controls = ['IQ', 'exper', 'tenure', 'age', 'married', 'black',
            'south', 'urban', 'sibs', 'brthord', 'meduc', 'feduc']

model_2 = smf.ols('lhwage ~ educ + ' + '+'.join(controls), data=wage).fit()
model_2.summary().tables[1]